<%- content_for :page_title do %>
  <%= "#{this_blog.blog_name} - #{t('.title')}" %>
<%- end %>
<%= form_tag action: "login" do %>
<fieldset>
 <div class="form-group">
  <%= text_field(:user, :login, {class: 'form-control', placeholder: t(".login"), autofocus: 'autofocus'})%>
 </div>
 <div class="form-group">
  <%= password_field(:user, :password, {class: 'form-control', placeholder: t(".password")})%>
 </div>
 <div class="checkbox">
  <label><%= check_box_tag 'remember_me' %> <%= t('.remember_me')%></label>
 </div>
 <%= submit_tag t('.sign_in'), class: "btn btn-info btn-block"  %>
</fieldset>  
<% end %>
<%- content_for :account_links do %>
<div class="row">
 <div class="col-sm-3 col-sm-offset-3 col-md-2 col-md-offset-4">
  <%= link_to(("<button type='button' class='btn btn-info btn-block'>" + t("accounts.lost_my_password") + "</button>").html_safe , action: 'recover_password') %>
  <br />
 </div>
 <div class="col-sm-3 col-md-2">
  <%- if this_blog.allow_signup? %>
  <%= link_to(("<button type='button' class='btn btn-info btn-block'>" + t("accounts.create_account") + "</button>").html_safe, action: 'signup') %>
  <br />
  <% end %>
 </div>
</div>
<div class="row">
 <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <%= link_to(("<button type='button' class='btn btn-info btn-block'>" + content_tag(:span, '' , class: 'glyphicon glyphicon-arrow-left') + "  " + t("accounts.back_to", place: this_blog.blog_name) + "</button>").html_safe, this_blog.base_url) %>
 </div>
</div>
<% end %>